@{
    ViewData["Title"] = "Characters - Edit";
}

@model VTT.Models.Entities.Character

<h1>Edit character </h1>
<form asp-action="EditForm" method="post">
    <div asp-validation-summary="All"></div>
    <div style="display:flex">
        <div >
            <table>
                <tr>
                    <td>Intelligence:</td>
                    <td><input type="number" asp-for="intelligence" /></td>
                </tr>
                <tr>
                    <td>Reflexes:</td>
                    <td><input type="number" asp-for="reflexes" /></td>
                </tr>
                <tr>
                    <td>Dexterity:</td>
                    <td><input type="number" asp-for="dexterity" /></td>
                </tr>
                <tr>
                    <td>Body:</td>
                    <td><input type="number" asp-for="body" /></td>
                </tr>
                <tr>
                    <td>Speed:</td>
                    <td><input type="number" asp-for="speed" /></td>
                </tr>
                <tr>
                    <td>Emphaty:</td>
                    <td><input type="number" asp-for="emphaty" /></td>
                </tr>
                <tr>
                    <td>Craft:</td>
                    <td><input type="number" asp-for="craft" /></td>
                </tr>
                <tr>
                    <td>Luck:</td>
                    <td><input type="number" asp-for="luck" /></td>
                </tr>
            </table>
        </div>

        <div style="width:175px">
            <input required type="text" asp-for="name" />
            <br />
            <div style=" text-align:center; position:relative; left:15%; border:solid; width:120px; height:120px">
                Image <br \>(in future)
            </div>
            <select required asp-for="race">
                <option value='Elf'>Elf</option>
                <option value='Half-Elf'>Half-Elf</option>
                <option value='Halfling'>Halfling</option>
                <option value='Dwarf'>Dwarf</option>
                <option value='Witcher'>Witcher</option>
                <option value='Human'>Human</option>
                <option value='Gnome'>Gnome</option>
                <option value='Doppler'>Doppler</option>
                <option value='Vran'>Vran</option>
                <option value='Werebbubb'>Werebbubb</option>
            </select>
            
            <select required asp-for="sex">
                <option value='Male'>M</option>
                <option value='Female'>F</option>
            </select>
            <input required style="width:50px" type="number" asp-for="age" />
            <br />
            <input type="text" asp-for="homeland" />
            <br />
            <input type="text" asp-for="social_standing" />

        </div>
    </div>
    
    <h5><input type="submit" value="Save" /></h5>
    <a class="nav-link text-dark" asp-area="" asp-controller="Character" asp-action="List">
        <h5>Back to list.</h5>
    </a>
</form>

