@{
    ViewData["Title"] = "Home Page";
    //Layout = null;
}


<link type="text/css" rel="stylesheet" href="Home/Style.css">

<body class="auth" >
    <section style="padding:5px; border:2px solid;">
        <h1 style="border-bottom: 2px solid;">Virtual Tabletop • Game Master Access</h1>
        <section style="display:flex; flex-direction:row;">
            <form method="post" autocomplete="off" style="display:flex; flex-direction:column;">
                <div class="form-group" style="display:flex; flex-direction:column;">
                    <h2>Administrator Verification</h2>
                    <input name="adminPassword" type="text" placeholder="Login">
                    <input name="adminLogin" type="password" placeholder="Password">
                </div>
                <p>You must provide the administrator password in order to access application setup.</p>
                <div class="form-group">
                    <button type="submit" name="action" value="adminAuth">Submit</button>
                </div>
            </form>
            <div>
            </div>
        </section>
    </section>
</body>
